.table1 {
    font-family: sans-serif;
    color: #444;
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #f2f5f7;
}
 
.table1 tr th{
    background: #35A9DB;
    color: #fff;
    font-weight: normal;
}
 
.table1, th, td {
    padding: 8px 20px;
    text-align: center;
}
 
.table1 tr:hover {
    background-color: #f5f5f5;
}
 
.table1 tr:nth-child(even) {
    background-color: #f2f2f2;
}
.tombol{
    background:#2C97DF;
    color:white;
    border-top:0;
    border-left:0;
    border-right:0;
    border-bottom:5px solid #2A80B9;
    padding:10px 20px;
    text-decoration:none;
    font-family:sans-serif;
    font-size:11pt;
  }
  body{
	font-family: 'roboto';
    color: #2e2d2d;
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 3%;

}
 
.judul{
	background: #87D1D8;
	padding: 10px;
	text-align: center;
 
}
 
.judul h1,h2,h3{
	height: 15px;
}
